{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block header %}
  <h2>Add a New Topic </h2>
{% endblock header %}

{%block content %}

  <form action="{% url 'learning_logs:new_topic' %}" method='post' class ="form">
  
     {% csrf_token %}
     {% bootstrap_field form.text show_label=True %} 
     
    <div class="form-group">  

        <div class="form-check">  

            <input type="checkbox" class="form-check-input" id="id_public" name="public">  

            <label class="form-check-label" for="id_public">Public</label>  

        </div>  

    </div> 
      <button type="submit" class="btn btn-primary">Add New Topic</button>
   </form>

{% endblock content %}
